:root{
  --white: aliceblue;
  --black: color: rgb(68, 68, 68);
  --gradient: linear-gradient(to bottom right, rgb(0, 92, 5), rgb(93, 250, 93));
  --bisque: rgba(255, 228, 196, 0.637);
  --modalbg: rgb(113, 224, 113);
}

*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url("../../assets/images/bowlofguac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Header */

header {
  background-image: var(--gradient);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--black);
}

.nameDiv{
  padding: 0.5rem 2rem;
}

.name, .nameSubtext{
  font-family: 'Comfortaa', cursive;
  color: var(--white);
  margin: 0;
}

.name{
  font-size: 5rem;
}
.nameSubtext{
  font-size: 3rem;
}

header img{
  width: 155px;
  border-radius: 50%;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.subtext{
  color: var(--white);
  font-size: 1.5rem;
  padding-right: 2rem;
}

.subtextImageContainer{
  display: flex;
  align-items: end;
}

/* main container */

.mainContainer{
  display: flex;
}


/* nav bar */

.navContainer{
  width: 20%;
}

.navBar{
  background-color: var(--bisque);
  border: 1px solid var(--black);
  border-radius: 15px;
  margin: 0 0.5rem;
  padding: 0;
}

.navHeader{
  background-image: var(--gradient);
  color: var(--white);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0;
}

.link{
  color:var(--black);
  text-decoration: none;
  font-size: 22px;
}
.link:hover{
  font-size: 26px;
}

/* main text */

.mainTextContainer{
  background-color: var(--bisque);
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 0 1rem;
}

.missionStatementContainer{
  color:var(--black);
}


/* Recipe Page */

#url-import{
  font-size: 1.25rem;
  border-radius: 8px;
  border: 1px solid var(--black);
}

#url-import-button{
  background-image: var(--gradient);
  color: var(--white);
  font-size: 1.25rem;
  border: 1px solid var(--black);
  border-radius: 8px;
}

#buttonContainer{
  display: flex;
  flex-direction: column;
}

.btn{
  background-color: var(--bisque);
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 8px;
  margin: 0.25rem 0;
  font-size: 1.25rem;
  box-shadow: 0;
}
.btn:hover{
  background-image: var(--gradient) !important;
  background-color: var(--gradient);
  color: var(--white);
  border: 0;
}


/* Modal */

.modal-body{
  background-color: var(--bisque);
}

.modal-header{
  background-image: var(--gradient);
  color: var(--white);
}

.accordion-button{
  background-color: var(--modalbg);
  color:var(--black);
}
.accordion-button:active{
  background-color: var(--modalbg);
  color:var(--black);
}
.accordion-button:focus{
  background-color: var(--modalbg);
  box-shadow: none;
  color: var(--black);
  border: 0;
}

.btn-secondary{
  margin-left: 0.5rem;
}


/* Resources Page */

.rHeader{
  background-image: var(--gradient);
  color: var(--white);
  text-align: center;
  width: 100%;
  border-radius: 8px;
  padding: 0.25rem
}

.mediaSize{
  display: none;
}

.rText{
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.recipeRow{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.recipeCol{
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.links{
  color: green;
  font-size: 22px;
}
.links:hover{
  color: var(--modalbg);
}


.imageContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.image{
  width: 70%;
  height: auto;
  margin: 0.5rem;
}






/* Media Query */

@media screen and (max-width: 480px){
  .nameDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-left: 1.5rem;
  }

  .name, .nameSubtext{
    font-size: 1.5rem;
  }

  .subtextImageContainer{
    display: flex;
    align-items: center;
  }

  .subtext{
    display: none;
  }

  header img{
    width: 70px;
    padding: 0.25rem;
  }

  /* Nav Section */

  .mainContainer{
    display: flex;
    flex-direction: column;
  }

  .navContainer{
    width: auto;
    margin-bottom: 0.5rem;
  }

  /* Main Section */

  .mainTextContainer{
    width: auto;
    padding: 0.5rem;
    border-radius: 15px;
    margin: 0 0.5rem;
  }

  .missionStatementContainer{
    width: 100%;
  }

  .missionStatementContainer h2{
    background-image: var(--gradient);
    color: var(--white);
    text-align: center;
    border-radius: 8px;
  }

  /* Recipe */

  .urlImport{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }

  #url-import{
    width: 71%;
  }

  #url-import-button{
    margin-left: 0.5rem;
  }

  .btn{
    margin: 0.25rem 0.5rem;
  }

  /* Resources */

  .mediaSize{
    display: inline;
  }

  .image{
    width: 98%;
  }

  .normalSize{
    display: none;
  }

  .links{
    margin-bottom: 1rem;
    color: green;
    padding: 0 0.5rem;
    text-decoration: underline;
  }
}